.sidebar{
    width:260px;
    height:100vh;
    background:#1e293b;

    position:fixed;
    left:0;
    top:0;

    display:flex;
    flex-direction:column;

    padding:25px;

    border-right:1px solid #334155;
    box-sizing: border-box;
}

.sidebar-logo h2{
    color:#3b82f6;
    font-size:28px;
    margin: 0 0 25px 0;
}

.sidebar-menu{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-top:0px;
    flex-grow: 1;
}

.sidebar-menu a{
    display:flex;
    align-items:center;
    gap:15px;

    padding:14px 18px;

    color:#cbd5e1;

    border-radius:12px;

    transition:.3s;
}

.sidebar-menu a svg{
    font-size:18px;
}

.sidebar-menu a:hover{
    background:#2563eb;
    color:white;
}

.sidebar-menu a.active{
    background:#2563eb;
    color:white;
}

.logout-btn{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;

    width:100%;

    padding:14px;

    border:none;

    border-radius:12px;

    background:#ef4444;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.3s;
}

.logout-btn:hover{
    background:#dc2626;
}

.menu-btn{
display:none;
}

@media(max-width:992px){

.sidebar{

transform:translateX(-100%);

transition:.3s;

z-index:999;

}

.sidebar.active{

transform:translateX(0);

}

.menu-btn{

display:flex;

justify-content:center;

align-items:center;

width:45px;

height:45px;

background:#2563eb;

border:none;

border-radius:10px;

color:white;

font-size:18px;

cursor:pointer;

}

}