.register{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:40px;

background:#0f172a;

}

.register-container{

width:100%;

max-width:1200px;

display:grid;

grid-template-columns:1fr 1fr;

background:#1e293b;

border:1px solid #334155;

border-radius:20px;

overflow:hidden;

}

.register-left{

padding:70px 50px;

display:flex;

flex-direction:column;

justify-content:center;

background:linear-gradient(135deg,#2563eb,#070911);

}

.register-icon{

font-size:70px;

margin-bottom:25px;

}

.register-left h1{

font-size:48px;

margin-bottom:20px;

}

.register-left p{

line-height:1.8;

margin-bottom:35px;

}

.register-features{

display:flex;

flex-direction:column;

gap:15px;

font-size:18px;

}

.register-right{

display:flex;

justify-content:center;

align-items:center;

padding:50px;

}

.register-form{

width:100%;

max-width:420px;

}

.register-form h2{

font-size:38px;

margin-bottom:35px;

text-align:center;

}

.input-box{

display:flex;

align-items:center;

gap:12px;

background:#0f172a;

border:1px solid #334155;

padding:16px;

border-radius:12px;

margin-bottom:20px;

}

.input-box svg{

color:#3b82f6;

}

.input-box input{

flex:1;

background:none;

border:none;

color:white;

font-size:16px;

}

.eye-btn{

background:none;

color:#94a3b8;

}

.register-submit{

width:100%;

padding:16px;

background:#2563eb;

color:white;

font-size:17px;

border-radius:12px;

transition:.3s;

}

.register-submit:hover{

background:#1d4ed8;

}

.login-link{

margin-top:25px;

text-align:center;

}

.login-link a{

margin-left:8px;

color:#3b82f6;

font-weight:600;

}

.input-box select{

flex:1;

background:none;

border:none;

outline:none;

color:white;

font-size:16px;

}


.input-box select option{

background:#0f172a;

color:white;

}

@media(max-width:900px){

.register-container{

grid-template-columns:1fr;

}

.register-left{

text-align:center;

padding:50px 30px;

}

}

@media(max-width:600px){

.register{

padding:20px;

}

.register-right{

padding:30px 20px;

}

.register-left h1{

font-size:36px;

}

.register-form h2{

font-size:30px;

}

}